{
    "Database": {
        "MetaStoreType": "gremlin",
        "MetaStore": {
            "Url": "ws://localhost:8182"
        },
        "FileStoreType": "filesystem",
        "FileStore": {
            "Prefix": "files/"
        }
    },
    "UrlBase": ""
}
