{
    "Database": {
        "MetaStoreType": "gremlin",
        "MetaStore": {
            "Url": "bolt://localhost:7687"
        },
        "FileStoreType": "filesystem",
        "FileStore": {
            "Prefix": "files/"
        }
    },
    "UrlBase": ""
}
