<!DOCTYPE html>
{{define "stdhead"}}
    <head>
        <link rel="stylesheet" href="{{getBaseUrl}}/public/style.css" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ .Title }}</title>
    </head>
{{end}}

{{define "preview"}}
    {{ if hasPrefix .Mimetype "image" }}
        <div class="flex-grow w-full h-full min-h-0 flex flex-col place-center">
            <img src="{{getBaseUrl}}/files/{{ .Id }}" class="object-scale-down m-auto min-h-0">
        </div>
    {{end}}
    {{ if hasPrefix .Mimetype "video" }}
        <div class="flex-grow w-full h-full min-h-0 flex flex-col place-center">
            <video controls loop autoplay muted class="object-scale-down m-auto min-h-0">
                <source src="{{getBaseUrl}}/files/{{ .Id }}">
            </video>
        </div>
    {{end}}
{{end}}
