<!DOCTYPE html>
<html lang="en" class="dark">
    {{template "stdhead"}}
    <body>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="uploadfile" /><br>
            <input type="text" name="tags" class="bg-slate-500"/><br>
            <input type="submit" value="upload" /><br>
        </form>
    </body>
</html>

