<!DOCTYPE html>
<html lang="en" class="dark">
    {{template "stdhead"}}
    <body>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="uploadfile" />
            <input type="text" name="tags" />
            <input type="submit" value="uplaod" />
        </form>
    </body>
</html>
