<!DOCTYPE html>
<html lang="en" class="dark">
    {{template "stdhead"}}
    <body>
        <div class="flex flex-col h-screen">
            <div class="bg-slate-500">
                <button class="text-sky-100">Prev</button>
                <button class="text-sky-100">Next</button>
            </div>
            <iframe src="/" class="object-fill flex flex-grow" />
        </div>
    </body>
</html>

